body,html {
    padding-top: 20px;
}

label {
    float:left;
}


.header-container {
    text-align: center;
    font-family: "Work Sans", sans-serif;
}

.people-per-household {
    width:100px;
}


/*
    Question CSS
 */


.results-container {
    padding:30px;
}

.graph-container {
    height:250px;
    padding:30px;
}

.row-hidden {
    /*display:none;*/
    font-size:12px;
}

.glyphicon {
    margin-right: 7px;
    color:royalblue;
}

.choice-container{
    padding:10px;
    margin:10px auto;
    width:300px;
    border:1px solid whitesmoke;
    overflow:auto;
    cursor: pointer;
}


.choice {
    width:86%;
    font-family: "Work Sans", sans-serif;   
    float:right;
    padding-left:5px;
    font-size:20px;
}

.choice p {
    display: table-cell;
    height:38px;
    vertical-align: middle;
}

.chosen {
    background-color: #25A2B6;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50%;
}

.question-container{
    text-align: center;
    font-family: "Work Sans", sans-serif;   
}

.question {
    line-height:32px;
}

.continue-btn-container {
    text-align: center;
    width:200px;
    padding: 10px;
    margin:auto;
}

.continue-btn {
    margin:auto;
}

.input-container {
    width: 400px;
    margin:auto;
}

/*
    Loader CSS
 */

.loader-container {
    width: 100%;
    margin-top:100px;
    text-align: center;
}

.typewriter-text {
    margin-top:30px;
    font-family: 'Cutive Mono', monospace;
    font-size: 24px;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
  

@-webkit-keyframes blink {
  50% {
    opacity: 0.0
  }
}
    
.blink {
    animation: blink 1s step-start 0s infinite;
    -webkit-animation: blink 1s step-start 0s infinite;
}