{% extends "layout.html" %}
{% block body %}
{% include "nav.html" %}
<div class="main-container container row">
     
    <div class="row results-container col-md-6">
        <h4>Niðurstöður</h4>
        <table class="table table-results">
            <thead>
              <tr>
                <th>Liður</th><th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><span class='glyphicon glyphicon-triangle-right' aria-hidden="true"></span>Laun</td>
                <td>
                  <div class="row">
                    <div class="col-md-6 offset-md-6"><input type="text" name="monthly_pretax_salary_income" class="form-control form-block format-money" value="0"></div>
                  </div>
              </td>
              </tr>
              <tr class="row-hidden"><td>Framlag í lífeyrissparnað</td><td>4%</td></tr>
              <tr>
                <td><span class='glyphicon glyphicon-triangle-right' aria-hidden="true"></span>Húsnæðisstuðningur</td>
              </tr>
              <tr>
                <td><span class='glyphicon glyphicon-triangle-right' aria-hidden="true"></span>Barnabætur</td>
              </tr>
              <tr>
                <td><span class='glyphicon glyphicon-triangle-right' aria-hidden="true"></span>Vaxtabætur</td>
              </tr>
            </tbody>
        </table>
    </div>

    <div class="graph-container col-md-6">
      <div id="graph-container"></div>   
    </div>

</div>
{% endblock %}
{% block url_specific_scripts %}
<script type='text/javascript' src='{{ url_for('static', filename='javascripts/index.js') }}'></script>
{% endblock %}