{% extends "layout.html" %}
{% block body %}
{% include "nav.html" %}
<div class="main-container container row">
     
    <div class="row results-container col-md-6">
        <table class="table table-results borderless">
            <thead>
              <tr>
                <th>Liður</th><th></th>
              </tr>
            </thead>
            <tbody>
              <tr class='overgroup'>
                <td><a href='#' class='main-dropdown'><span class='glyphicon glyphicon-plus-sign' aria-hidden="true"></span>Laun</a></td>
                <td>
                  <div class="row">
                    <div class="col-md-6 offset-md-6"><input type="text" name="monthly_pretax_salary_income" class="form-control form-block format-money input-sm" value="0"></div>
                  </div>
              </td>
              </tr>
              <tr class="row-hidden">
                <td>Framlag í lífeyrissparnað</td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-primary btn-sm dropdown-toggle" name="lifeyrissjodur_framlag" type="button" data-toggle="dropdown">2% <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">0%</a></li>
                      <li><a href="#">2%</a></li>
                      <li><a href="#">4%</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr class='overgroup'>
                <td><a href='#' class='main-dropdown'><span class='glyphicon glyphicon-plus-sign' aria-hidden="true"></span>Húsnæðisstuðningur</a></td>
              </tr>
              <tr class="row-hidden">
                <td>Form búsetu</td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" name="form_busetu" data-toggle="dropdown">Ég leigi húsnæði <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Ég á húsnæði</a></li>
                      <li><a href="#">Ég leigi húsnæði</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr class="row-hidden">
                <td>Hjúskaparstaða</td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" name="hjuskaparstada" data-toggle="dropdown">Einhleyp(ur) <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Einhleyp(ur)</a></li>
                      <li><a href="#">Einstætt foreldri</a></li>
                      <li><a href="#">Er í sambúð / gift(ur)</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr class='overgroup'>
                <td><a href='#' class='main-dropdown'><span class='glyphicon glyphicon-plus-sign' aria-hidden="true"></span>Barnabætur</a></td>
              </tr>
              <tr class='row-hidden'>
                <td>Fjöldi barna</a></td>
                <td>
                  <div class="row">
                    <div class="col-md-6 offset-md-6"><input type="text" name="number_of_children" class="form-control form-block format-money input-sm" value="0"></div>
                  </div>
              </td>
              </tr>
<tr class='row-hidden'>
                <td>Þar af börn undir 7 ára aldri</a></td>
                <td>
                  <div class="row">
                    <div class="col-md-6 offset-md-6"><input type="text" name="children_under_7" class="form-control form-block format-money input-sm" value="0"></div>
                  </div>
              </td>
              </tr>
            </tbody>
        </table>
    </div>

    <div class="graph-container col-md-6">
      <div id="graph-container"></div>   
    </div>

</div>
{% endblock %}
{% block url_specific_scripts %}
<script type='text/javascript' src='{{ url_for('static', filename='javascripts/index.js') }}'></script>
{% endblock %}